/* common */

:root {
  --my-hue: 200;
}
h1, h2, h3 {
  font-weight: normal;
  color: rgb(80, 80, 80);
}

img {
  vertical-align: bottom;
}

/* body */
body {
  background: hsl(var(--my-hue), 40%, 95%);
  margin: 0 12px;
}

/* header */
header {
  background: hsl(var(--my-hue), 40%, 80%);
  height: 250px;
  margin-bottom: 16px;
}
header .container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
header img {
  padding: 16px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  transition: border-radius 0.4s;
}
.img_changed {
  border-radius: 20%;
}
.img_changed_back {
  border-radius: 50%;
}

/* main */
main {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  /* text-align: center; */
  /* outline: 1px solid orange; */
}

nav {
  width: 150px;
  margin-right: 8px;
}
ul {
  list-style: none;
  background: white;
  margin: 0;
  padding: 0;
}
li {
  padding: 8px 16px;

}
.main-container {
  flex: 1;
}
main h1 {
  color: white;
  text-align: center;
  background: hsl(var(--my-hue), 40%, 40%);
  margin: 0;
}
.history {
  display: flex;
  padding-bottom: 20px;
  border-top: 1px solid;
}
.yaer {
  width: 100px;
}
.language {
  width: 100px;
}
.description {
  flex: 1;
}

/* footer */
footer {
  background: hsl(var(--my-hue), 40%, 80%);
  height: 150px;
  text-align: center;
  font-size: 18px;
}