/* common */

:root {
  --my-hue: 200;
  color: rgb(80, 80, 80);

}
h1, h2, h3 {
  font-weight: normal;
}

img {
  vertical-align: bottom;
}

/* body */
body {
  background: hsl(var(--my-hue), 40%, 95%);
  margin: 0 12px;
}

/* header */
header {
  background: hsl(var(--my-hue), 40%, 80%);
  /* width: 1000px; */
  max-width: 1000px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 32px;
}
header .container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
header img {
  padding: 16px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  transition: border-radius 0.4s;
}
.changeradius {
  border-radius: 20%;
}

/* main */
main {
  display: flex;
  /* width: 1000px; */
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  width: 150px;
  margin-right: 8px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav > ul > li {
  padding: 4px 16px;
  margin-bottom: 4px;
  border-left: 4px solid indianred;
  cursor: pointer;
}
li.color {
  background: rgb(250, 200, 200);
  color: white;
}
.main-container {
  flex: 1;
  background: white;
}
main h1 {
  color: white;
  text-align: center;
  background: hsl(var(--my-hue), 40%, 40%);
  margin: 0;
}
.history {
  display: flex;
  border-top: 1px solid gray;
}
.yaer {
  width: 100px;
  padding-left: 8px;
}
.language {
  width: 100px;
}
.description {
  flex: 1;
  padding-right: 8px;
}
.detail {
  width: 50px;
  text-align: center;
  cursor: pointer;
}

/* footer */
footer {
  margin-top: 16px;
  background: hsl(var(--my-hue), 40%, 80%);
  height: 150px;
  text-align: center;
  font-size: 18px;
}

/* modal window */
#open, #close {
  width: 200px;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 16px auto;
}
#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#modal {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
}
#mask.hidden {
  display: none;
}
#modal.hidden {
  transform:translate(0, -500px)
}

.sp-menu {
  margin-top: 8px;
  margin-left: 16px;
  display: none;
}
.sp-menu #open-menu {
  font-size: 32px;
  cursor: pointer;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  margin: 0 auto;
}

/* レスポンシブ対応 */
@media screen and (max-width:480px) {
  header .sp-menu {
    display: block;
  }
  main > nav {
    display: none;
  }
}